POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# For replica servers only - IP address of primary server
# PRIMARY_HOST=192.168.1.10

# For replica servers only - unique slot name per replica
# REPLICA_SLOT=replica_slot_1
